// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-style{
  .form-control {
		box-shadow: none;
		border-color: #ddd;
	}
	.form-control:focus {
		border-color: #d3d367;
	}
	.login-form {
    width: 350px;
		margin: 0 auto;
    padding: 30px 0;
	}
    .login-form form {
        color: #434343;
		border-radius: 1px;
    	margin-bottom: 15px;
        background: #fff;
		border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
	}
	.login-form h4 {
		text-align: center;
		font-size: 22px;
        margin-bottom: 20px;
	}
    .login-form .avatar {
        color: #fff;
		margin: 0 auto 30px;
        text-align: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		z-index: 9;
		background:  #d3d367;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
    .login-form .avatar i {
        font-size: 62px;
    }
    .login-form .form-group {
        margin-bottom: 20px;
    }
	.login-form .form-control, .login-form .btn {
		min-height: 40px;
		border-radius: 2px;
        transition: all 0.5s;
	}
	.login-form .close {
        position: absolute;
		top: 15px;
		right: 15px;
	}
	.login-form .btn {
		background:  #d3d367;
		border: none;
		line-height: normal;
	}
	.login-form .btn:hover, .login-form .btn:focus {
		background: #d3d367;
	}
    .login-form .checkbox-inline {
        float: left;
    }
    .login-form input[type="checkbox"] {
        margin-top: 2px;
    }
    .login-form .forgot-link {
        float: right;
    }
    .login-form .small {
        font-size: 13px;
    }
    .login-form a {
        color: #e5c100;
    }
}

.navbar{
    background-color: #d8d82a;
    .nav-link{
      color: #000 !important;
    }
}

.section-content-header{
  font-size: 4rem;
}

.section-content-paragraph{
  font-size: 1.3rem;
  word-wrap: break-word;
}

.overlay {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  background: rgba(77, 77, 77, .9);
  color: $section-bg;
  opacity: 0;
  transition: all 0.5s;

  font-family: 'Playfair Display', serif;
}


.items {
  padding: 0 20px;
  letter-spacing: 2px;
}

.head {
  font-size: 1rem;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;

    border: none;
    border-bottom: solid 2px $section-bg;

    position: absolute;
    bottom: 0; left:20px;

    transition: all .5s;
  }
}

.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  .old {
    text-decoration: line-through;
    color: lighten(rgb(77, 77, 77),40%);
  }
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  i {
    font-size: 16px;
  }
  span {
    margin-left: 10px;
  }
}

.section-six{
  height: 750px;
  &-content{
    padding-top: 5vh;
    .linear-bg{
      height: 550px;
      padding: 10px;
      width: 300px;
      border: 8px solid transparent;
      border-radius: 50px !important;
      background:
        linear-gradient(to right, white, white),
        linear-gradient(to bottom, #F3F9A7 ,#CAC531);
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      color: #000;
      box-shadow: 5px 5px 20px 15px rgba(128, 128, 128, 0.486);
    }
  }
}
.section-five{
  height: 900px;
  &-content{
    padding-top: 5vh;
    .linear-bg{
      border-radius: 5vw;
      border: none;
      height: 300px;
      width: 300px;
      background-image: linear-gradient(to bottom, #F3F9A7 ,#CAC531);
      color: #000;
    }
    .linear-bg.big{
      width: 700px;
    }
  }
}

.section-four{
  height: 700px;
  &-content{
    padding-top: 10vh;
  }
}

.section-three{
    background-repeat: no-repeat;

    background-size: 40%;
    background-position-y: -10vh;
    // background-position-x: 10vw;
    height: 700px;

    &-content{
      padding-top: 100px;
      &-image{
        width: 250px;
        height: 250px;

        position: absolute;
        top:0; right: 0; left: 0; bottom: 0;
        margin: 10px auto;

        background: url("https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg");
        background-color: black;
        background-size: cover;
        cursor: pointer;

        -webkit-box-shadow: 0 0 5px #000;
                box-shadow: 0 0 5px #000;
      }

    &-image:hover .overlay {
      opacity: 1;
      & .head {
        transform: translateY(0px);
      }

      & hr {
        width: 75px;
        transition-delay: 0.4s;
      }

      & .price {
        transform: translateY(0px);
        transition-delay: 0.3s;
        opacity: 1;
      }

      & .cart {
        transform: translateY(0px);
        transition-delay: 0.6s;
        opacity: 1;
      }
    }

    }
}

.section-two{
    height: 700px;
    &-content{
        padding-top: 200px;
        .linear-bg{
            border-radius: 25px;
            border: none;
            height: 75px;
            width: 200px;
            background-image: linear-gradient(to right, #F3F9A7 ,#CAC531);
            color: #000;
        }
    }
}


.section-one{
    background-repeat: no-repeat;
    background-size: 85%;
    height: 700px;
    &-content{
        padding-top: 100px;
        &-image{
            width: 350px;
            height: 350px;

            position: absolute;
            top:0; right: 0; left: 0; bottom: 0;
            margin: 10px auto;

            background: url("https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg");
            background-color: black;
            background-size: cover;
            cursor: pointer;

            -webkit-box-shadow: 0 0 5px #000;
                    box-shadow: 0 0 5px #000;
        }

        &-image:hover .overlay {
          opacity: 1;
          & .head {
            transform: translateY(0px);
          }

          & hr {
            width: 75px;
            transition-delay: 0.4s;
          }

          & .price {
            transform: translateY(0px);
            transition-delay: 0.3s;
            opacity: 1;
          }

          & .cart {
            transform: translateY(0px);
            transition-delay: 0.6s;
            opacity: 1;
          }
        }

    }
}

@include media-breakpoint-down(xl) {

}
@include media-breakpoint-down(xs) {
  .head {
    font-size: 0.7rem;
    letter-spacing: 0;
    line-height: 3vh;
  }
  .section-content-paragraph{
    font-size: 1rem;
  }
  .section-content-header{
    font-size: 2rem;
  }
  .section-one{
    background-size: 175%;
    &-content{
      p{
        margin-top: 2vh;
      }
      &-image{
        margin-top: 30vh;
        width: 50vw;
        height: 30vh;
      }
    }
  }
  .section-two{
    &-content{
      padding-top: 15vh;
      .linear-bg{
        height: 5vh;
        margin-bottom: 10px ;
      }
    }
  }
  .section-three{
    background-position-y: -20px;
    background-size: 150%;
    &-content{
      height: 100vh;
      padding-top: 0;
      .divprapgraph{
        font-weight: bold;
      }
      .divimage{
        height: 40vh;
      }
      &-image{
      margin-top: 0;
      width: 50vw;
      height: 30vh;
      }
    }
  }
  .section-four{
    &-content{
      padding-top: 0;
      .kelebihanimg{
        width: 60%;
        margin-bottom: 1vh;
      }
      .divkelebihan{
        width: 45vw;
      }
    }
  }
  .section-five{
    &-content{
      .linear-bg{
        // height: 40vh;
        // width: 300px;
        margin-bottom: 5vh;
      }
      .imagemember{
        height: 15vh;
      }
      .linear-bg.big{
        height: 50vh;
        width: 300px;
      }
    }
  }
}
