// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar{
    background-color: #ebeba493;
}

.section-three{
    background-repeat: no-repeat;
    
    background-size: 50%;
    background-position-y: -10vh;
    background-position-x: -10vw;
    height: 100vh;
    z-index: 9;
}
.section-two{
    height: 100vh;
    &-content{
        padding-top: 200px;
        .div-lienar-bg{
          margin: 0 0.2vw;
        }
        .linear-bg{
            border-radius: 25px;
            border: none;
            width: 20vw;
            height: 10vh;
            background-image: linear-gradient(to right, red , yellow);
            color: #000;
        }
    }
}

// @include media-breakpoint-only(xs) { 

//  }


.section-one{
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100vh;
    &-content{
        margin-top: 100px;
        &-image{
            width: 30vw;
            height: 60vh;
            
            position: absolute;
            top:0; right: 0; left: 0; bottom: 0;
            margin: 10px auto;
            
            background: url("https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg");
            background-color: black;
            background-size: cover;
            cursor: pointer;
            
            -webkit-box-shadow: 0 0 5px #000;
                    box-shadow: 0 0 5px #000;
        }
        .overlay {
            width: 100%;
            height: 100%;
            
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 2fr 1fr;
            
            background: rgba(77, 77, 77, .9);
            color: $section-bg;
            opacity: 0;
            transition: all 0.5s;
            
            font-family: 'Playfair Display', serif;
          }
          
          
          .items {
            padding-left: 20px;
            letter-spacing: 3px;
          }
          
          .head {
            font-size: 1rem;
            line-height: 40px;
            
            transform: translateY(40px);
            transition: all 0.7s;
            hr {
              display: block;
              width: 0;
              
              border: none;
              border-bottom: solid 2px $section-bg;
              
              position: absolute;
              bottom: 0; left:20px;
              
              transition: all .5s;
            }
          }
          
          .price {
            font-size: 22px;
            line-height: 10px;
            font-weight: bold;  
            opacity: 0;
            transform: translateY(40px);
            transition: all 0.7s;
            .old {
              text-decoration: line-through;
              color: lighten(rgb(77, 77, 77),40%);
            }
          }
          
          .cart {
            font-size: 12px;
            opacity: 0;
            letter-spacing: 1px;
            font-family: 'Lato', sans-serif;
            transform: translateY(40px);
            transition: all 0.7s;
            i {
              font-size: 16px;
            }
            span {
              margin-left: 10px;
            }
          }
          
          &-image:hover .overlay {
            opacity: 1;
            & .head {
              transform: translateY(0px);
            }
            
            & hr {
              width: 75px;
              transition-delay: 0.4s;
            }
            
            & .price {
              transform: translateY(0px);
              transition-delay: 0.3s;
              opacity: 1;
            }
            
            & .cart {
              transform: translateY(0px);
              transition-delay: 0.6s;
              opacity: 1;
            }
          }
          
    }
}

@include media-breakpoint-down(xs) {
  .section-one{
    background-size: 200%;
    &-content{
      margin-top: 3vh;
      &-image{
        margin-top: 10vh;
        width: 50vw;
        height: 40vh;
      }
    }
  }
  .section-three{
    background-position-y: 0;
  }
}