.btn-daftar {
    background: linear-gradient(to left, #ca4b7c, #6e376e);
    color: white;
    border: none;
}
.btn-daftar:hover {
    color: papayawhip;
}
.form-button {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 0;
}
