.btn-daftar {
    background: linear-gradient(to left, #ca4b7c, #6e376e);
    color: white;
    border: none;
}
.btn-daftar:hover {
    color: papayawhip;
}
.form-button {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 0;
}
.title-membership {
    height: 15%;
    display: flex;
    align-items: center;
    h2 {
        font-weight: bolder;
    }
}
.price-membership {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-membership {
    height: 55%;
    display: flex;
    align-items: flex-start;
}
