.sect1img {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: fit-content;
    width: 1200px;
    .sect1imgtag {
        height: 1000px;
        object-fit: contain;
        position: relative;
        opacity: 0;
        top: -1600px;
        left: -1000px;
        transition: left 1s ease, top 1s ease, opacity 1.5s ease-in;
    }
}

