.section-four {
    height: 800px;
    &-content {
        padding-top: 10vh;
        .kelebihanimg {
            margin-bottom: 10px;
            filter: drop-shadow(0 0 0.75rem grey);
        }
        p {
            font-size: 1.1rem;
        }
    }
}
