.section-two {
    height: 900px;
    &-content {
        padding-top: 200px;
        .two-tittle {
            margin-bottom: 50px;
            opacity: 0;
            transition: opacity 1s;
        }
        .two-btn-1 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.1s;
        }
        .two-btn-2 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.2s;
        }
        .two-btn-3 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.3s;
        }
        .two-btn-4 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.4s;
        }
        .two-btn-5 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.5s;
        }
        .two-btn-6 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.6s;
        }
        .two-btn-7 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.7s;
        }
        .layananlist {
            list-style: none;
            li::before {
                content: "\2022";
                color: red;
                font-weight: bold;
                display: inline-block;
                font-size: 1.3em;
                width: 1em;
                margin-left: -1em;
            }
            li {
                font-size: 1.7rem;
                font-weight: bold;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .section-two {

        &-content {

            .two-tittle {
                font-size: 10rem;
                font-weight: bold;

            }
            .two-btn-1 {
                font-size: 1.5rem;
            }
            .two-btn-2 {
                font-size: 1.5rem;
            }
            .two-btn-3 {
                font-size: 1.5rem;
            }
            .two-btn-4 {
                font-size: 1.5rem;
            }
            .two-btn-5 {
                font-size: 1.5rem;
            }
            .two-btn-6 {
                font-size: 1.5rem;
            }
            .two-btn-7 {
                font-size: 1.5rem;
            }
            .layananlist {

                li::before {

                }
                li {

                }
            }
        }
    }
}
