.section-one {
    height: 650px;
    &-content {
        color: white;
        .left {
            padding-top: 140px;
            .h-sect1 {
                opacity: 0;
                position: relative;
                left: -50px;
                transition: left 0.3s ease-in, opacity 0.3s ease-in;
                transition-delay: 0.1s;
            }
            .p-sect1 {
                opacity: 0;
                position: relative;
                left: -50px;
                transition: left 0.3s ease-in, opacity 0.3s ease-in;
                transition-delay: 0.2s;
            }
        }
        .right {
            padding-top: 100px;
            padding-left: 100px;
            position: relative;
            img {
                position: absolute;
                height: 400px;
                width: 400px;
                bottom: -25px;
                right: 35px;
                z-index: -2;
            }
            .divimage {
                width: 400px;
                height: 400px;
                background-size: 40%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: -650px;
                z-index: 1;
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .section-one {
        .section-one-content .left {
            padding-top: 10%;
        }
        .section-one-content .right {
            display: none;
        }
    }
}
