.sect4img {
    position: absolute;
    top: 2550px;
    height: fit-content;
    overflow: hidden;
    z-index: -3;
    width: 100%;
    .sect4imgtag1 {
        height: 400px;
        object-fit: contain;
        position: relative;
        left: -600px;
        opacity: 0;
        transition-delay: 0.5s;
        transition: left 1s ease, top 1s ease, opacity 1s ease-in;
    }
}
.sect4img2 {
    position: absolute;
    top: 2550px;
    right: 0;
    height: fit-content;
    overflow: hidden;
    z-index: -3;
    .sect4imgtag2 {
        height: 600px;
        object-fit: contain;
        position: relative;
        top: 0;
        right: -500px;
        opacity: 0;
        transition-delay: 0.5s;
        transition: right 1s ease, top 1s ease, opacity 1s ease-in;
    }
}
@include media-breakpoint-down(xs) {
    .sect4img {
        top: 2700px;
        .sect4imgtag1 {
            left: -450px;
        }
    }
    .sect4img2 {
        top: 3250px;
        .sect4imgtag2 {
            height: 1500px;
            right: -950px;
        }
    }
}
