.sect5img {
    position: absolute;
    top: 3000px;
    left: 0;
    height: fit-content;
    overflow: hidden;
    z-index: -3;
    width: 100%;
    .sect5imgtag {
        // height: 1900px;
        object-fit: cover;
        position: relative;
        top: 0;
        left: -300px;
    }
}
@include media-breakpoint-down(xs) {
    .sect5img {
        top: 5500px;
    }
}
