.regulasi{
    margin-top: 125px;

    .btn-title{
        font-size: 15px;
        font-weight: 600;
    }

    .date-regulasi{
        font-size: 12px;
        font-style: inherit;
    }

    .title-regulasi{
        font-size: 20px;
    }

    .img-regulasi{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .card-regulasi{
        border-radius: 20px;
    }
}

