.section-four {
    height: 900px;
    &-content {
        padding-top: 10vh;
        .four-tittle {
            opacity: 0;
            transition: opacity 1s;
        }
        .four-btn-1 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.2s;
        }
        .four-btn-2 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.4s;
        }
        .four-btn-3 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.6s;
        }
        .four-btn-4 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 0.8s;
        }
        .four-btn-5 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 1s;
        }
        .four-btn-6 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 1.2s;
        }
        .four-btn-7 {
            opacity: 0;
            transition: opacity 0.7s ease-in;
            transition-delay: 1.4s;
        }
        .kelebihanimg {
            margin-bottom: 10px;
            // filter: drop-shadow(0 0 0.75rem grey);
        }
        p {
            font-size: 1.1rem;
        }
        img {
            width: 100%;
            display: block;
        }
    }
}
@include media-breakpoint-down(xs) {
    .section-four {
        height: 2600px;
        &-content {
            .divkelebihan {
                margin-bottom: 24px;
            }
        }
        img {
            width: 70%;
            display: flex;
        }
        p {
            font-size: 1.5rem;
        }
    }
}
