.section-six {
    height: 900px;
    &-content {
        .six-tittle {
            opacity: 0;
            transition: opacity 1s;
        }
        .six-btn-1 {
            position: relative;
            opacity: 0;
            left: -50px;
            transition: opacity 0.7s ease-in, left 0.5s ease;
            transition-delay: 0.2s;
        }
        .six-btn-2 {
            position: relative;
            opacity: 0;
            left: -50px;
            transition: opacity 0.7s ease-in, left 0.5s ease;
            transition-delay: 0.4s;
        }
        .six-btn-3 {
            position: relative;
            opacity: 0;
            left: -50px;
            transition: opacity 0.7s ease-in, left 0.5s ease;
            transition-delay: 0.6s;
        }
        padding-top: 5vh;
        .linear-bg {
            height: 550px;
            padding: 10px;
            width: 300px;
            border: 8px solid transparent;
            border-radius: 50px !important;
            // border-left: 15px solid #3EC8AC;
            // border-right: 15px solid #4E90A4;
            background: linear-gradient(to right, white, white),
                linear-gradient(to left, #ca4b7c, #6e376e);
            background-clip: padding-box, border-box;
            background-origin: padding-box, border-box;
            color: #000;
            box-shadow: 5px 5px 20px 5px rgba(128, 128, 128, 0.486);
            transition: box-shadow 0.2s ease-in;
        }
        .linear-bg:hover {
            box-shadow: 5px 5px 20px 6px rgba(128, 128, 128);
        }
    }
}
@include media-breakpoint-down(xs) {
    .section-six {
        height: 2000px;
    }
}
