.artikel-card:hover{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.image-artikel-terkait{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-div-artikel-terkait{
    margin: 0;

}

.artikel-terkait {
    margin: 0;
    padding: 10px 20px 0 0;
}

.font-artikel-terkait {
    font-size: 16px;
    font-weight: 600;
}

.time-artikel-terkait{
    font-size: 12px;
}

.additional-information{
    font-size: 12px;
}

@include media-breakpoint-down(md) {

    .artikel-terkait{
        margin: 10px 10px 0 10px;
        padding-left: 15px;
    }

    .font-artikel-terkait{
        font-size: 15px;
    }

    .time-artikel-terkait{
        font-size: 12px;
    }

    .section-two-artikel{
        margin-top: 40px;
    }
}
