.back-register {
    background: linear-gradient(45deg, #6e376e, #fe7087);
    height: 100vh;
    .the-row {
        margin: 0 !important;
        display: flex;
        flex-wrap: wrap;
        height: inherit;
        align-content: center;
    }
    .register {
        .register-form {
            background-color: white;
            border-radius: 10px;
            box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, 0.664);
            padding: 1rem 2rem;
            .title {
                margin-bottom: 1rem;
            }
            .modal-register {
                font-size: 0.9rem;
                color: rgba(107, 107, 107, 0.534);
            }
            .modal-title {
                color: black;
                font-size: 2.25rem;
                font-weight: bold;
                text-decoration: none;
                transition: color 0.3s ease-in-out;
                &:hover {
                    color: #fe7087;
                }
            }
            .form-control {
                font-size: 1.1rem;
                margin-bottom: 1rem;
                padding: 20px;
                height: 2.2rem;
                box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
                -moz-box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
                -webkit-box-shadow: inset 0 1px 3px 0 rgb(0 0 0 / 8%);
                border: none;
                background-color: #fafafa;
            }
            .btn-submit {
                color: white;
                font-weight: 600;
                letter-spacing: 2px;
                background: linear-gradient(45deg, #6e376e, #fe7087);
            }
        }
    }
}
